<%= form_for ([:experiment, @observation]) do |f| %>

  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@observation.errors.count, "error") %> prohibited
        this observation from being saved:
      </h2>
      <ul>
        <% @observation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
