<% if user_signed_in? %>
  <h1>Welcome <%= current_user.first_name %>! </h1>

<h3>Proposals</h3>
<table class="one">
  <tr>
    <th class="protitle">ID</th>
    <th class="protitle">Summary</th>
  </tr>

  <% current_user.proposals.each do |proposal| %>
    <tr>
      <td class="id"><%= proposal.id %></td>
      <td class="summary"><%= proposal.summary %></td>
      <td class="prolink"><%= link_to 'Show', proposal_path(proposal), style: 'color:saddlebrown',  class: 'newshow' %></td>
      <td id="proedit"><%= link_to 'Edit', edit_proposal_path(proposal), style: 'color:saddlebrown' %></td>
      <td id="prodelete"><%= link_to 'Delete', proposal_path(proposal),
                method: :delete,
                data: { confirm: 'Are you sure?' }, style: 'color:saddlebrown' %></td>

    </tr>
  <% end %>
</table>

<br>

<h3>Experiments</h3>
<table class="two">
  <tr>
    <th class="protitle">ID</th>
    <th class="protitle">Summary</th>
  </tr>

  <% current_user.experiments.each do |experiment| %>
    <tr>
      <td class="id"><%= experiment.id %></td>
      <td class="summary"><%= experiment.category %></td>
      <td class="prolink"><%= link_to 'Show', experiment_path(experiment), style: 'color:saddlebrown',  class: 'newshow' %></td>
      <td id="proedit"><%= link_to 'Edit', edit_experiment_path(experiment), style: 'color:saddlebrown' %></td>
      <td id="prodelete"><%= link_to 'Delete', experiment_path(experiment),
                method: :delete,
                data: { confirm: 'Are you sure?' }, style: 'color:saddlebrown' %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'New Proposal',new_proposal_path(@proposal), style: 'color:saddlebrown', class: 'newp' %>

<% end %>
