
<div class="center">
  <h1 class="color">The Deets on this Experiment!</h1>   
  <p><b>Category: </b> <%= @experiment.category %></p>
  <p><b>RESULTS: </b> <%= @experiment.results %> </p>
  <p><b>CONCLUSION: </b> <%= @experiment.conclusions %></p>

  <div class="border center">
    <h1 class="color">Experiment observations</h1>
      <% @experiment.observations.each_with_index do |observation,index|%>
          <p><%="#{index+1}. "%><%= observation.body %></p><br>
        <% if signed_in? %>
          <% if current_user.id == observation.observable_id %>
            <%= link_to "Edit"%>
            <%= link_to "Delete" %>
          <% end %>
        <% end %>
      <% end %>
      <% if signed_in? %>
        <%= link_to "Add Observation", new_experiment_observation_path(@experiment)%>
      <% end %>
  </div>
</div>
<hr>

<div class="center">
<h1 class="color">Procedures</h1>
  <% @experiment.procedures.each do |procedure|%>
    <p><b>Steps Taken:</b> <%= procedure.steps %></p>
  <% end %>
  <div class=""><br>
    <h4>Procedure observations</h4>
  <% @experiment.procedures.each_with_index do |procedure,index|%>
    <% procedure.observations.each do |observation| %></p>
      <p><%="#{index+1}. "%><%= observation.body %></p>
      <% if signed_in? %>
        <% if current_user.id == observation.observable_id %>
          <%= link_to "Edit"%>
          <%= link_to "Delete" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <% if signed_in? %>
    <%= link_to "Add Observation",new_experiment_procedure_path(@experiment)%>
  <% end %>
</div>
<hr>

<br><br><br><br>

<div class="position center ">
<h1 class="color">Experiment comments</h1>
  <% @experiment.comments.each_with_index do |comment,index| %>
    <% if @experiment.comments.empty?%>
      <p> There are no comments for this experiment </p>
    <% else %>
      <p> <%="#{index+1}. "%> <%= comment.body %> </p>
    <% end %>

    <% if signed_in? %>
      <% if current_user.id == comment.user_id %>
        <%= link_to "Edit", edit_experiment_comment_path(experiment_id: @experiment.id, id: comment.id)%>
        <%= link_to "Delete",experiments_comment_post_destroy_path(@experiment,comment),:method=> :delete %>
      <% end %>
    <% end %>
  <% end %>

  <% if signed_in? %>
    <%= link_to "Add comment",new_experiment_comment_path(@experiment)%>
  <% end %>
</div>

