<h1>The Deets on this Experiment!</h1>

<div class="border">
  <b>Category</b> <%= @experiment.category %><br>
  <b>RESULTS</b> = > <%= @experiment.results %> <br>
  <b>CONCLUSION</b> => <%= @experiment.conclusions %> <br>

  <div class="border">
  <h4>Experiment observations</h4>
    <b>OBSERVATIONS</b> = > <%= @experiment.observations %><br>
    <%= link_to "Add Observation", new_experiment_observation_path(@experiment)%>

  </div>

</div>


<br><br><br><br>


<h1>Procedures</h1>


<div class="border">
  <% @experiment.procedures.each do |procedure|%>
    <p><%= procedure.steps %></p>
  <% end %>
  <div class="border"><h4>Procedure observations</h4>
  <%= @experiment.procedures %>
  <% binding.pry %>
  </div>
  <%= link_to "Add Observation"%>
</div>

<br><br><br><br>

<h1>Experiment comments</h1>
<div class="border">
  <%= @experiment.comments %>
</div>
  <%= link_to "Add comment"%>
