<h1>The Deets on this Experiment!</h1>

<div class="border">
  <b>Category</b> <%= @experiment.category %><br>
  <b>RESULTS</b> = > <%= @experiment.results %> <br>
  <b>CONCLUSION</b> => <%= @experiment.conclusions %> <br>

  <div class="border">
    <h4>Experiment observations</h4>
      <% @experiment.observations.each_with_index do |observation,index|%>
          <p><%="#{index+1}. "%><%= observation.body %></p><br>
        <% if signed_in? %>
          <% if current_user.id == observation.observable_id %>
            <%= link_to "Edit"%>
            <%= link_to "Delete" %>
          <% end %>
        <% end %>
      <% end %>
      <% if signed_in? %>
        <%= link_to "Add Observation", new_experiment_observation_path(@experiment)%>
      <% end %>
  </div>
</div>

<br><br><br><br>

<h1>Procedures</h1>
<div class="border">
  <% @experiment.procedures.each do |procedure|%>
    <p><%= procedure.steps %></p>
  <% end %>
  <div class="border"><h4>Procedure observations</h4>
  <% @experiment.procedures.each_with_index do |procedure,index|%>
    <% procedure.observations.each do |observation| %></p><br>
      <p><%="#{index+1}. "%><%= observation.body %></p><br>
      <% if signed_in? %>
        <% if current_user.id == observation.observable_id %>
          <%= link_to "Edit"%>
          <%= link_to "Delete" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <% if signed_in? %>
    <%= link_to "Add Observation",new_experiment_procedure_path(@experiment)%>
  <% end %>
</div>

<br><br><br><br>

<h1>Experiment comments</h1>
<div class="border">
  <% experiments = @experiment.experimenter.experiments %>
  <% experiment = experiments.find(params[:id]) %>
  <% if experiment.experimenter.comments.empty?%>
    <p> There are no comments for this experiment </p>
  <% else %>
    <%= experiment.experimenter.comments.first.body %>
  <% end %>

  <% if signed_in? %>
    <%= link_to "Add comment",new_experiment_comment_path(@experiment)%>
    <% if current_user.id == @experiment.experimenter.id %>
        <%= link_to "Edit", edit_experiment_comment_path(@experiment)%>
        <%= link_to "Delete" %>
      <% end %>
  <% end %>
</div>

