<h1>Listing proposals</h1>
 
<table>
  <tr>
    <th>Summary</th>
    <th>Hypothesis</th>
  </tr>
 
  <% @proposals.each do |proposal| %>
    <tr>
      <td><%= proposal.summary %></td>
      <td><%= proposal.hypothesis %></td>
      <td><%= link_to 'Show', proposal_path(proposal) %></td>
      <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
      <td><%= link_to 'Delete', proposal_path(proposal),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>