<h1>Current Proposals</h1>

<table>
  <tr>
    <th class="protitle">Summary</th>
    <th class="protitle">Hypothesis</th>
  </tr>

  <% @proposals.each do |proposal| %>
    <tr>
      <td id="summary"><%= proposal.summary %></td>
      <td id="hypothesis"><%= proposal.hypothesis %></td>
      <td class="prolink"><%= link_to 'Show', proposal_path(proposal), style: 'color:saddlebrown' %></td>
      <% if user_signed_in? %>
        <td id="proedit"><%= link_to 'Edit', edit_proposal_path(proposal), style: 'color:saddlebrown' %></td>
        <td id="prodelete"><%= link_to 'Delete', proposal_path(proposal),
                method: :delete,
                data: { confirm: 'Are you sure?' }, style: 'color:saddlebrown' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
