<div class="showproposal">
  <p>
    <strong>Summary:</strong>
    <%= @proposal.summary %>
  </p>
  <br>
  <p>
    <strong>Hypothesis:</strong>
    <%= @proposal.hypothesis %>
  </p>
  <br>
  <p>
    <strong>Status:</strong>
    <%= @proposal.status %>
  </p>
  <br>
  <p>
    <strong>Experiments:</strong>
    <br>
    <% @proposal.experiments.each do |experiment| %>
      <br>
      <%= "#{experiment.id}    | #{experiment.category}" %>
      <br>
      <%= link_to 'Show', experiment_path(experiment), style: 'color:saddlebrown' %>
      <br>
    <% end %>
  </p>
  <%= link_to 'New Experiment',new_experiment_path(@experiment), style: 'color:darkolivegreen' %>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_proposal_path(@proposal), style: 'color:darkolivegreen' %> |
  <% end %>
  <%= link_to 'Back', proposals_path, style: 'color:darkolivegreen' %>

</div>
